---
import '@fontsource/source-sans-pro/400.css';
import '@fontsource/source-sans-pro/700.css';
import '@fontsource/source-sans-pro/400-italic.css';
import '@fontsource/source-sans-pro/700-italic.css';

import BaseHead from '../components/BaseHead.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      .hero {
        padding-bottom: 2em;
        border-bottom: 1px solid #ddd;
      }
      .social-links {
        display: flex;
        gap: 1em;
        margin-top: 1em;
      }
      .social-links a {
        text-decoration: none;
        color: var(--accent);
      }
      section {
        margin-top: 2em;
      }
      .experience-item,
      .project-item {
        margin-bottom: 1.5em;
      }
    </style>
  </head>
  <body>
    <main>
      <section class="hero">
        <h1>Niyoko Yuliawan</h1>
        <p>
          Email: <a href="mailto:niyoko@yuliawan.dev">niyoko@yuliawan.dev</a>
        </p>
      </section>
    </main>
  </body>
</html>
