---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Niyoko Yuliawan. All rights reserved.
  <div class="social-links">
    <a href="https://github.com/niyoko" target="_blank">
      <span class="sr-only">Go to user's GitHub repo</span>
      <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>
    <a href="https://stackoverflow.com/users/1091308/niyoko" target="_blank">
      <span class="sr-only">Go to user's Stack Overflow profile</span>
      <svg
        aria-hidden="true"
        width="32"
        height="32"
        viewBox="0 0 32 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M27.3293 29.5033H4.63733V22.1H7.27467V26.866H24.692V22.1H27.3293V29.5033ZM8.59333 19.462L25.6847 21.6887L26.11 18.966L9.01867 16.7393L8.59333 19.462ZM10.81 12.0633L26.8327 16.9293L27.694 14.2927L11.6713 9.42667L10.81 12.0633ZM14.8687 5.138L28.1887 11.906L29.4767 9.42667L16.1567 2.65867L14.8687 5.138ZM21.3613 0L19.746 2.12733L30.9353 10.042L32 7.91467L21.3613 0ZM4.63733 34.1333H27.3293V31.818H4.63733V34.1333Z"
          fill="currentColor"></path></svg
      >
    </a>
    <a href="https://www.linkedin.com/in/niyoko-yuliawan/" target="_blank">
      <span class="sr-only">Go to user's LinkedIn profile</span>
      <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
        ><path
          fill="currentColor"
          d="M13.635 13.635h-2.36V9.43c0-1.002-.018-2.29-1.395-2.29-1.395 0-1.611 1.09-1.611 2.218v4.277H5.906V5.968h2.26v1.037h.032c.315-.596 1.084-1.223 2.232-1.223 2.388 0 2.829 1.572 2.829 3.618v4.235zM3.541 4.938a1.396 1.396 0 110-2.792 1.396 1.396 0 010 2.792zM4.736 13.635H2.346V5.968h2.39v7.667zM14.83 1.198A1.194 1.194 0 0013.635 0H2.365A1.194 1.194 0 001.17 1.198v13.604A1.194 1.194 0 002.365 16h11.27A1.194 1.194 0 0014.83 14.802V1.198z"
        ></path></svg
      >
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
